@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scada&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../img/back.svg");
  background-attachment: fixed;
  background-size: cover;
}

body {
  padding: 20px 0;
}

.App {
  margin: 0;
  padding: 0px;
  height: 100%;
  background-color: #77aa77;
  background-image: url("../img/back.svg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Scada", sans-serif;
}

.containere {
  position: relative;
  height: 100%;
}

.containere .form {
  border-radius: 20px;
  background-color: white;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 30px;
  width: 400px;
  padding-bottom: 20px;
  min-width: 300px;
}

@media only screen and (max-width: 400px) {
  .containere .form {
    width: 90%;
  }
}

.containere .form h1 {
  font-weight: 600;
  margin: 10px 0;
  margin-bottom: 20px;
}

.containere .form input {
  margin: 0px auto;
  margin-bottom: 15px;
}

.containere .form .gender input {
  width: 10px;
  margin: 0;
  padding: 0;
}

.containere .form label {
  margin: 0;
}

.containere .form .forgot {
  margin: 10px 0px 10px 90px;
}

.containere .form button {
  width: 100%;
  margin: 10px auto;
}

.containere .form .gender span {
  text-align: center;
}

.extra {
  width: 100%;
  background-color: white;
  margin: 20px auto 10px auto;
  box-sizing: border-box;
  padding: 7px;
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: rgba(108, 143, 129, 0.562);
}

.extra .text {
  margin: 0 10px;
}

a {
  color: black;
  font-weight: 500;
  font-size: 14px;
}

a:hover {
  color: black;
  font-weight: 500;
}

hr {
  border: 0.7px solid gray;
  opacity: 0.5;
}

#or {
  background-color: white;
  border-radius: 20px;
  font-size: 14px;
  padding: 8px;
  position: absolute;
  bottom: 60px;
  right: 48%;
}

.gender {
  text-align: left;
}

.gender .g {
  display: inline-block;
  width: 110px;
  padding: 5px 0;
  position: relative;
  left: -40px;
}

.gender .g label {
  margin-right: 5px;
}

.containere .login {
  margin-top: 50px;
}

.alerts {
  margin: 10px 0;
}

textarea {
  display: inline-block;
  width: 100%;
}
